@use "@/css/theme.sass"

:global
    html
        height: 100%
        background: #212624
        color: #eaeaea
        font-family: "work sans"

    body
        margin: 0

.contain
    width: 500px
    margin: auto
    margin-top: 45px
    padding-bottom: 45px

    .controls
        margin-bottom: 25px

        .create-button
            display: inline-block
            padding: 7px 8px
            background: #385e7a
            border-radius: 5px
            border: 1px solid #536c86
            user-select: none
            cursor: pointer

            &:hover
                background: #495597
                border-color: #6784a0

            &:active
                background: #5e5a9c
                border-color: #8ca7c1