@use "@/css/theme.sass"
@use "@/css/shared.sass"

:global
    html
        height: 100%
        background: #212624
        color: #eaeaea
        font-family: "work sans"

    body
        margin: 0

.contain
    width: 500px
    margin: auto
    margin-top: 45px
    padding-bottom: 45px

    .controls
        margin-bottom: 25px

        .create-button
            @include shared.create-button