.session-info-box
    display: flex
    flex-direction: column
    width: 460px
    background: #52657891
    padding: 5px 15px
    box-sizing: border-box
    border-radius: 9px
    height: 100%

    .top
        display: flex
        align-items: center

        h2
            margin: 0
            font-size: 19px
            font-weight: 400
            flex: 1

        h3
            margin: 0
            font-weight: 400
            font-size: 15px
            color: #96ffc9

    .bottom
        display: flex
        flex: 1

        .progress-text
            font-size: 20px

        .progress-bar
            flex: 1