@use "@/css/shared.sass"

.program-launcher
    font-size: 0
    margin-right: 14px

    .program-button
        @include shared.fade-button

        display: inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 3px 7px
        border-radius: 5px
        margin: 0 4px

        .name
            font-size: 14px

        kbd.number
            background: #2b2b2b
            padding: 1px 3px
            border-radius: 3px
            margin-top: 3px
            font-size: 15px
            font-weight: 400