@font-face
    font-family: "work sans"
    src: url("@/font/WorkSans-VariableFont_wght.ttf")

:global
    html
        background: #202020
        color: #eaeaea
        font-family: "work sans"

    html,body
        height: 100%
        width: 100%

    body
        display: flex
        flex-direction: column
        overflow: hidden
        margin: 0

section.items
    font-size: 0
    display: flex
    flex-wrap: wrap
    flex: 1
    overflow: auto

section.controls
    height: 95px
    padding: 9px 0
    box-sizing: border-box